<%- include("partials/header.ejs") %>
<h3>
  <%= post.user.name %> <%= post.reQuote ? `is Requote to
  ${post.reQuote.user.name}`: "" %>
</h3>
<h3><%= post.time %></h3>
<h2><%= post.title %></h2>
<% if(post.img) %> <img src="<%= post.img %>" />
<% if(post.reQuote) { %>
<div style="border: 1px solid black; width: fit-content; padding: 10px; min-width: 300px;">
  <a href="/?id=<%= post.reQuote.id %>">
    <img class="pfp" src="<%= post.reQuote.user.pp %>" />
    <h4><%= post.reQuote.user.name %></h4>
    <h4><%= post.reQuote.time %></h4>
    <h3><%= post.reQuote.title %></h3>
    <% if(post.reQuote.img) %> <img src="<%= post.reQuote.img %>" />
  </a>
</div>
<% } %>
<button onclick="sendLikeRequest('<%= JSON.stringify(post) %>', this)">Like: <%= post.like.total %></button>
<button onclick="sendPostRequest(undefined, undefined, undefined, '<%= post.id %>', '<%= JSON.stringify(post) %>')">Repost</button>
<form onsubmit="sendPostRequest(this, '<%= JSON.stringify(post) %>', undefined, undefined, undefined)">
  <div>
    <label for="title">Reply</label>
      <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="img">Image URL:</label>
    <input type="text" id="img" name="img">
  </div>
  <button type="submit">Post</button>
</form>
<form onsubmit="sendPostRequest(this, undefined, '<%= JSON.stringify(post) %>', undefined, undefined)">
  <div>
    <label for="title">Requote</label>
      <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="img">Image URL:</label>
    <input type="text" id="img" name="img">
  </div>
  <button type="submit">Post</button>
</form>
<% replies.forEach((reply) => { %>
<a href="/?id=<%=reply.id %>">
  <h3><%= reply.user.name %></h3>
  <h2><%= reply.title %></h2>
  <h3><%= reply.time %></h3>
  <button onclick="sendLikeRequest(reply, this)">Like: <%= reply.like.total %></button>
  <% if(reply.img) %> <img class="pfp" src="<%= reply.img %>" />
</a>
<% }); %> <% if(post.img) %> <%- include("partials/footer.ejs") %>
